<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clover_studio.com.supertaxi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".base.SuperTaxiApp"
        android:theme="@style/AppThemeNoActionBar">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBONAsYG4Pq-Sx9obbuHxlDaj4aa872kvs"/>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".SignUpActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".ChooseTypeActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />

        <activity android:name=".UserHomeActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".DriverHomeActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name=".CreateUserActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            />

        <activity android:name=".CameraCropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

</manifest>